@font-face {
  font-family: "Creepy";
  src: url("Assets/Fonts/Creepy.woff") format("woff"), url("Assets/Fonts/Creepy.woff2") format("woff2")
}

@font-face {
  font-family: "Lunacy";
  src: url("Assets/Fonts/Lunacy.woff") format("woff"), url("Assets/Fonts/Lunacy.woff2") format("woff2")
}

*{
    box-sizing: border-box;
}
html{
    min-height: 100vh;
    cursor: url("Assets/Cursors/Ghost.cur"), auto;;
}

body{
  
}







