body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1ed760;
}
.container{
    width: 250px;
    
}
/* #controls i {
    font-size: 30px;
    color:purple;
    margin-right: 20px;
} */
/* #progress{
    margin-bottom: 20px;
} */
#progress .times, .card-footer, .volume-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* #progress-bar{
    width: 100%;
} */
/* #music-image{
    width: 100%;
} */

.volume-container i{
    cursor: pointer;
    margin-right:5px;
}

li.playing{
    background-color: #0b5eb7;
    color: white;
}




















